<!-- UIkit JS -->
<script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>

<!-- Axios -->
<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Sanitize HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.27.4/sanitize-html.min.js" integrity="sha512-Pzfmmn5I9vMax+ZLKD2q2LxcHh1GLJj/elQ4Pvw8O9rG+RHwr47+aO4IoClMiE9JKqUI6SXhUXRsy6D1bdrRSQ==" crossorigin="anonymous"></script>

<!-- Our script -->
<script defer src="/js/index.js"></script>

</body>

</html>